@use "src/scss/breakpoints";
@use "src/scss/mixins/text-styles";

.hero {
  $block-name: &; // #{$block-name}__element

  position: relative;
  overflow: hidden;
  color: var(--front-invert);

  .container {
    height: 100%;
  }

  &__inner {
    position: relative;
    z-index: var(--z-index-hero-text);
    display: flex;
    align-items: center;
    height: min(100vh, 696px);
    padding: 56px 0;

    @media screen and (min-width: breakpoints.$screen-t) {
      height: 100vh;
    }

    @media screen and (min-width: breakpoints.$screen-tl) {
    	display: flex;
      align-items: center;
    }

    @media screen and (min-width: breakpoints.$screen-d) {
    	width: min(100%, 1464px);
      height: 852px;
      margin: 0 auto;
    }

    &--alt {
      align-items: start;
      padding: calc(var(--header-height) + 56px) 0 56px;

      @media screen and (min-width: breakpoints.$screen-tl) {
        align-items: center;
      }
    }
  }

  &__block {
    display: grid;
    gap: 28px;

    @media screen and (min-width: breakpoints.$screen-tl) {
      width: 60%;
    }

    @media screen and (min-width: breakpoints.$screen-d) {
      gap: 44px;
      width: auto;
      max-width: 850px;
    }
  }

  &__title {
    @include text-styles.hero-title {
      margin: 0;
      text-align: center;
    };

    @media screen and (min-width: breakpoints.$screen-tl) {
      text-align: left;
    }

    &--china {
      font-size: 35px;

      @media screen and (min-width: breakpoints.$screen-dl) {
        width: 120%;
      }
    }

    &--wide {
      @media screen and (min-width: breakpoints.$screen-dl) {
        width: 150%;
      }
    }
  }

  &__descr {
    @include text-styles.hero-description {
      margin: 0;
      text-align: center;
    };

    @media screen and (min-width: breakpoints.$screen-tl) {
      text-align: left;
    }

    strong {
      padding: 5px 4px 0;
      font-weight: 600;
      background: var(--orange-600);
      border-radius: 8px;
    }
  }

  &__ring {
    position: absolute;
    aspect-ratio: 1 / 1;

    &--left {
      top: 0;
      left: 0;
      width: 142px;
      transform: translate(-92px, 138px);

      @media screen and (min-width: breakpoints.$screen-d) {
        width: 293px;
        transform: translate(-185px, 156px);
      }
    }

    &--right {
      right: 0;
      bottom: 0;
      width: 231px;
      transform: translate(182px, -10px);

      @media screen and (min-width: breakpoints.$screen-d) {
        width: 483px;
        transform: translate(380px, -54px);
      }

      @media screen and (min-width: breakpoints.$screen-dxl) {
        width: 483px;
        transform: translate(317px, -54px);
      }
    }
  }

  &__bg {
    position: absolute;
    z-index: var(--z-index-negative);
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    inset: 0;

    @media screen and (min-width: breakpoints.$screen-d) {
      height: 852px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom;

      @media screen and (min-width: breakpoints.$screen-tl) {
        object-position: center;
      }

      @media screen and (min-width: breakpoints.$screen-d) {
        object-position: center;
      }
    }

    &--russia img {
      @media screen and (min-width: breakpoints.$screen-tl) {
        object-position: 70% 0;
      }

      @media screen and (min-width: breakpoints.$screen-d) {
        object-position: 65% 0;
      }
    }
  }
}
